

  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem; 
  }
  
  .empty-cart-message {
    text-align: center;
    margin: 16px 0;
  }
  
  
.cart-footer {
    margin-top: 16px;
    text-align: center;
  }

.cart-dropdown {
    position: absolute;
    top: 120%;
    right: 0;
    width: 300px;
    background-color: #161616;
    color: white;
    border: 1px solid #2c7871;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 12px;
    display: none; 
    flex-direction: column;
    z-index: 1000;
    font-size: 0.9rem;
    opacity: 0; 
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.cart-dropdown.visible {
    display: flex;
    opacity: 1; 
    transform: translateY(0);
}

.cart-items {
    border-radius: 6px;
    max-height: 300px; 
    overflow-y: auto;
    padding-right: 8px; 
}

.cart-items::-webkit-scrollbar {
    width: 6px;
}

.cart-items::-webkit-scrollbar-thumb {
    background-color: #2c7871;
    border-radius: 4px;
}

.cart-items::-webkit-scrollbar-thumb:hover {
    background-color: #1a5e58;
}

.cart-item-section {
    border: 1px solid #2c7871;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #1e1e1e;
}

.ticket-details-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 0.85rem;
}

.label {
    font-weight: bold;
    color: #ccc;
}

.value {
    color: #fff;
}

.close-icon {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-icon:hover {
    color: #2c7871;
}


.remove-btn {
    background: #2c7871;
    color: white;
    border: none;
        cursor: pointer;
    font-size: 0.8rem;
    margin-top: 8px;
    width: 100%;
    text-align: center;
    border-radius: 16px;
}

.remove-btn:hover {
    background: #1a5e58;
}

.view-cart-btn {
    text-decoration: none;
    color: #2c7871;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    display: block;
}
