.input-text-group {
    display: flex;
    flex-direction: column; 
    gap: 0.5rem; 
    width: 100%; 
  }
  
  .input-text-group label {
    font-size: 1rem;
    color: #f8f8f8;
  }
  
  .input-text {
    width: 100%; 
    padding: 12px; 
    font-size: 1rem; 
    border: 1px solid #2c7871; 
    border-radius: 5px; 
    background: #161616; 
    color: #f8f8f8;  
    box-sizing: border-box; 
  }
  
  .input-text::placeholder {
    color: #aaaaaa; 
  }
  
  .input-text:focus {
    outline: none;
    border-color: #13403b; 
  }
  
  .input-text[type="datetime-local"] {
    color: #ffffff;
    background: #161616; 
}

  .input-text::-webkit-datetime-edit {
      color: #ffffff; 
  }

.input-text::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.8; 
    cursor: pointer; 
}

.input-text.input-textarea {
  height: auto; 
  min-height: 100px; 
  padding: 12px; 
  resize: vertical; 
  font-size: 1rem; 
  border: 1px solid #2c7871; 
  border-radius: 5px; 
  background: #161616; 
  color: #f8f8f8; 
  box-sizing: border-box; 
}

.input-text.input-textarea::placeholder {
  color: #aaaaaa;
}

.input-text.input-textarea:focus {
  outline: none; 
  border-color: #13403b; 
}
