  body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto; /* 1fr for content, auto for footer */
  }

  .container {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: 1fr auto;
    grid-gap: 20px;
    row-gap: 100px;
    min-height: 100vh; /* Set minimum height of the container */
  }